@font-face {
  font-family: "Geometria";
  src: url("./fonts/geometria-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/geometria-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/geometria-bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  color: $color-text;
  font-family: $f-family;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: $color-text;
  text-decoration: none;
}

.row {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  font-family: $f-family;
  color: $color-text;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;

  &--active {
    color: #ffffff;
    background-color: $color-primary;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

