.coupon {
  padding-top: 70px;
  background-color: $color-bg;
  letter-spacing: 0.1px;
}

.coupon__section {
  display: block;
  color: $color-grey-text;
  text-align: center;
  font-size: 14px;
  line-height: 20px;

  span {
    padding-bottom: 5px;
    border-bottom: 1px solid $color-grey;
  }
}

.coupon__header {
  padding-top: 28px;
  padding-bottom: 45px;
}

.coupon__img {
  text-align: center;
  background: linear-gradient(90deg, #F76C55 0%, #DD599D 51.56%, #C250CD 100%);
  border-radius: 30px;

  img {
    padding: 46px 0 24px;
    margin-left: -30px;
  }
}

.coupon__description {
  padding-bottom: 8px;
  background-color: #ffffff;
  line-height: 150%;
  border-radius: 8px;
}

.coupon__date {
  display: block;
  padding: 20px 0 33px;
  text-align: center;
  color: $color-grey-text;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.coupon__paragraph {
  padding: 0 75px 0 50px;
  margin-bottom: 45px;
}

.coupon__apply {
  margin-bottom: 13px;
}

.coupon__list {
  padding-left: 43px;

  &--unnumbered {
    list-style: inherit;
  }

  li {
    padding-left: 5px;
    line-height: 200%;
  }
}

.coupon__use {
  margin-bottom: 32px;
}

.coupon__use-header {
  margin-bottom: 15px;
  font-size: 18px;
}

.coupon__policy {
  margin-top: 10px;
  margin-bottom: 25px;
}

.coupon__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;

  a {
    margin-bottom: 12px;
    line-height: 26px;
  }
}

.coupon__link {
  color: $color-primary;
  border-bottom: 1px solid $color-primary;

  &--unlined {
    border-bottom: none;
  }
}

.coupon__rules {
  padding: 0 50px;
  line-height: 18px;
  color: $color-grey-text;
  font-size: 12px;
}