.discount {
  margin-top: 122px;

  @media (max-width: $bp-second) {
    margin-top: 100px;
  }
}

.discount__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 963px;
  margin: 0 auto;
}

.discount__wrapper {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.discount__items {
  display: flex;
  padding: 20px 19px 10px;
  background-color: #ffffff;
  border-radius: 79px;
}

.discount__item {

  img {
    width: 120px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--percent {
    position: relative;
    display: inline-block;

    &::before {
      position: absolute;
      top: -11px;
      right: 9px;
      width: 50px;
      height: 50px;
      padding: 15px 5px;
      color: #ffffff;
      background-color: $color-text;
      border-radius: 50%;
    }

    &:first-of-type::before {
      content: "3%";
    }

    &:nth-of-type(2)::before {
      content: "1.5%";
    }

    &:last-of-type::before {
      content: "5%";
    }
  }
}


.discount__description {
  position: relative;
  display: inline-block;
  padding: 11px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px;
  //z-index: 1;

  //&::before {
  //  position: absolute;
  //  top: -20px;
  //  left: -25px;
  //  content: "";
  //  width: 42px;
  //  height: 42px;
  //  background-color: #ffffff;
  //  z-index: -1;
  //}
}