.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 300px;

  @media (max-width: $bp-first) {
    flex-direction: column;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $color-grey-text;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: $bp-first) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.footer__call {
  display: flex;
  flex-direction: column;
}

.footer__number {
  color: $color-text;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.footer__logo {
  margin-top: 30px;
}

.footer__copyright {
  margin-bottom: 18px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 873px;

  @media (max-width: $bp-first) {
    margin-top: 20px;
    flex-basis: auto;
    padding: 0 30px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $bp-first) {
    justify-content: center;
  }
}

.footer__item {
  margin-top: 8px;
  margin-bottom: 16px;

  &:not(:last-child) {
    margin-right: 25px;
  }

  a {
    letter-spacing: 0.1px;

    &:hover {
      color: $color-grey-text;
    }
  }
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  margin-top: -6px;

  @media (max-width: $bp-first) {
    margin: 20px 0;
  }
}

.footer__market {

  a:not(:last-child) {
    margin-right: 7px;
  }
}

.footer__icon {

  &:not(:last-child) {
    margin-right: 3px;
  }

  img {
    border-radius: 8px;
  }
}

.footer__policy {
  line-height: 18px;
  font-size: 14px;
  color: $color-grey-text;
  letter-spacing: 0.1px;
}
