.header__wrapper {
  display: flex;
  padding: 16px 0 6px;
}

.header__logo {
  margin-right: 36px;
}

.header__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 783px;
}

.header__item {
  margin-right: 24px;
  margin-bottom: 7px;
  line-height: 40px;

  a {
    letter-spacing: 0.1px;
    opacity: 0.5;
  }

  &--active a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}

.header__options {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 10px;
}

.header__location {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 37px;
  color: $color-grey-text;

  img {
    margin-right: 6px;
  }
}

.header__user {
  position: relative;
}

.header__search-wrapper {
  position: absolute;
  display: inline-block;
  left: -170px;
}

.header__search {
  position: relative;

  input {
    position: relative;
    visibility: hidden;
    //border: none;
    //height: 30px;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    &::placeholder {
      font-size: 18px;
      font-family: $f-family;
      font-weight: 300;
    }
  }

  span:first-of-type {
    position: absolute;
    top: 6px;
    right: 2px;
    width: 21px;
    height: 21px;
    border: 1px solid $color-text;
    border-radius: 50%;
  }

  span:last-of-type {
    position: absolute;
    top: 26px;
    right: -3px;
    width: 10px;
    height: 1px;
    background-color: $color-text;
    transform: rotate(45deg);
  }
}

.header__btn {
  padding: 5px 23px;
  background-color: #ffffff;
  color: $color-primary;
  font-size: 14px;
  border: 1px solid $color-primary;
}