.partners {
  padding-bottom: 172px;
  background-color: $color-bg;
  
  @media (max-width: $bp-second) {
    padding-bottom: 140px;
  }
}

.partners__wrapper {
  padding-top: 35px;
}

.partners__header {
  padding: 42px 0;
}

.partners__cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 127px;
  padding-top: 15px;
}

.partners__cat-item {
    margin: 0 4px;

  @media (max-width: $bp-second) {
    margin-bottom: 10px;
  }
}

.partners__cat-btn {
  padding: 10px 15px;
  letter-spacing: 0.3px;
}

.partners__thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 60px;

  label {
    text-align: center;
    flex-basis: 120px;
    transition: all .2s;
  }

  &--charge {
    order: -1;
  }

  input {
    position: relative;
    -webkit-appearance: none;
    width: 58px;
    height: 24px;
    margin: 0 24px;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    border: 1px solid #E4E6E9;
    border-radius: 12px;

    &::after {
      position: absolute;
      content: "";
      top: 2px;
      width: 18px;
      height: 18px;
      background-color: $color-primary;
      border-radius: 50%;
      transition: all .1s cubic-bezier(.17,.67,.83,.67);
    }

    &:checked ~ .partners__thanks--take {
      color: $color-primary;
    }

    &:checked::after {
      left: 4px;
      transform: translateX(1px);
    }

    &:not(:checked) ~ .partners__thanks--charge {
      color: $color-primary;
    }

    &:not(:checked)::after {
      right: 4px;
      transform: translateX(-1px);

    }
  }
}

.partners__block {
  text-align: center;
}

.partners__block-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $bp-first) {
    justify-content: center;
  }
}

.partners__block-item {
  flex-basis: 218px;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;

  @media (max-width: $bp-first) {
    flex-basis: 250px;
    margin: 0 30px 30px;
  }
  
  @media (max-width: $bp-third) {
    flex-basis: 200px;
    margin: 0 10px 30px;
  }
}

.partners__block-header {
  line-height: 24px;
  text-align: left;

  span {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.partners__block-percent {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.partners__block-img {
  margin: 10px 0 32px;
  align-self: center;
}

.partners__name {
  margin-bottom: 7px;
  font-size: 16px;
}

.partners__block-btn {
  margin-top: 42px;
}